<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Restaurant, La Tour D'Argent</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/restaurant.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/images/logo_icon.png">
</head>
<body>
    <section id="top_img">
        <h2>LE RESTAURANT</h2>
        <div class="arrow" id="double_arrow_scroll"></div>
    </section>
    <header>
			<nav id="normal">
				<ul>
					<li><a href="/menu"><span>CARTE ET MENUS</span></a></li>
					<li><a href="/restaurant"><span>LE RESTAURANT</span></a></li>
					<li><a href="/"><img src="../static/images/logo_header.png" width="60px"></a></li>
					<li class="bookingButton"><span>RESERVATION</span></li>
					<a href="/access"><li><span>ACCÈS</span></li></a>
				</ul>
			</nav>
			<nav id="burger">
				<ul>
					<li id="burgerButton"><img src="static/images/logo_header.png" width="60px"></li>
				</ul>
			</nav>
    </header>
    <section id="main">
        <div class="intro">
            <p class="paragraph1">André Terrail, le grand-père de l’actuel propriétaire, rachète la Tour d’Argent à Frédéric Delair en 1914 et fait entrer dans sa légende les recettes d’Adolphe Dugléré ainsi que les rarissimes bouteilles du Café Anglais. Entrepreneur infatigable, la Tour rejoint la collection de ses nombreux établissements parmi lesquels on compte le San Régis, l’Hôtel Bellman, le Georges V à Paris, l’Hôtel St Christophe à Miramar d’Esterel, l’Escargot Montorgueil et Potel & Chabot.<p>
 
            <p class="paragraph2">En 1947, André Terrail transmet les rênes de la Tour d’Argent à son fils, Claude. Sous sa direction, la Tour d’Argent ouvre un second restaurant à Tokyo, célèbre son 400ème anniversaire, et connaît de nombreuses évolutions la maintenant au plus haut niveau de la gastronomie mondiale. Entrepreneur visionnaire et meneur d’hommes, l’histoire retiendra un grand Maître de Maison dont la maxime favorite était : “Il n’y a rien de plus sérieux que le plaisir”. Disparu en 2006, son fils André perpétue l’histoire de cette grande Maison.</p>

            <p class="paragraph3">André Terrail rejoint l’entreprise familiale en 2003 et succède à son père en 2006. Il entame ainsi un nouveau chapitre dans l’illustre histoire de cet établissement. Tout en satisfaisant aux attentes d’une clientèle exigeante il s’attache à faire évoluer la Maison en respectant son héritage. Il s’appuie sur une équipe de grands professionnels pour embrasser l’esprit de son époque. André Terrail est titulaire d’un Bachelor of Science in Business Administration de Babson College et d’un Master of Business Administration de l’INSEAD.</p>
        </div>
        <div class="history">
            <h3>NOTRE HISTOIRE</h3>
            <div class="preambule">
                <div class="preambule_text">
                    <h4>PRÉAMBULE</h4>
                    <p>Chaque Tour a sa légende, on le sait, et la nôtre n’y manque point. Depuis maintenant près d’un siècle, à travers les vicissitudes de l’histoire, elle a maintenu une tradition et un honneur, presque un culte.<br>
                    Car l’ancienneté des lieux et l’authenticité des anecdotes comptent moins, finalement, que la vivante ferveur qu’ont su entretenir André Terrail, puis après lui, son fils Claude et maintenant André.<br>
                    Passent les lustres et les personnalités, changent les menus et les modes, la table reste mise à La Tour d’Argent.</p>
                </div>
                <div class="preambule_img">
                    <img src="../static/images/histoire/Preambule.jpg">
                </div>
            </div>
            <div class="hostellerie">
                <div class="hostellerie_text">
                    <h4>UNE HOSTELLERIE AU BORD DU FLEUVE SEINE</h4>
                    <p>Sous Henri III, en face du port aux vins et juste après la Porte Saint-Bernard un certain Rourteau ouvre une auberge élégante qui accueillera les seigneurs du Roi, las de hanter les tripots et les coupe-gorges… Le Château de la Tournelle adjacent bâti d’une pierre champenoise aux reflets argentés donne son nom à l’établissement qui prend ainsi le nom d’Hostellerie de la Tour d’Argent.</p>
                </div>
                <div class="hostellerie_img">
                    <img src="../static/images/histoire/Une-Hostellerie-au-Bord-du-Fleuve-Seine-1.jpg">
                </div>
            </div>
            <div class="fourchette">
                <div class="fourchette_text">
                    <h4>LES PREMIÈRES FOURCHETTES</h4>
                    <p>Déjà utilisée dans quelques maisons italiennes, la fourchette fait son apparition en France à la Tour d’Argent. Afin de ne pas tâcher la fraise immaculée que la mode imposait au cou des gentilshommes, Henri IV inaugura cet ustensile par un dîner qui fit grand bruit dans Paris. Dès lors, la Tour d’Argent devint incontournable, et Henri IV y venait régulièrement déguster “La Poule d’Afrique ou l’Anguille des Bois” et de “Grosses tranches de Pâté de Héron”.</p>
                </div>
                <div class="fourchette_img">
                    <img src="../static/images/histoire/premieres-fourchettes.jpg">
                </div>
            </div>
            <div class="oyer">
                <div class="oyer_text">
                    <h4>CUISINIER-OYER-TRAITEUR</h4>
                    <p>C’est ce même Henri IV qui octroyât à la Tour d’Argent l’honneur de porter des armes, et jusqu’au règne de Louis XIV on pût voir au-dessus de la porte de l’hostellerie cette armoirie “Cuisinier – Oyer – traiteur”. Les armes du restaurant étaient : “d’Argent à un plat couvert de sable accompagné de trois couronnes de lierre et de sinople”, tandis que celle de l’hostellerie étaient “une Tour d’Argent crénelée sur un champ de gueules”.</p>
                </div>
                <div class="oyer_img">
                    <img src="../static/images/histoire/Cuisinier-Oyer-Traiteur-1.jpg">
                </div>
            </div>
            <div class="revolution">
                <div class="revolution_text">
                    <h4>DU CARDINAL DE RICHELIEU À LA RÉVOLUTION FRANÇAISE</h4>
                    <p>La Tour d’Argent demeura le lieu des soupers fins. La chronique a laissé le souvenir d’un dîner offert par le Duc de Richelieu, neveu du Cardinal, qui réunit quarante personnes autour d’un menu composé uniquement de bœuf apprêté de trente façons différentes ! C’est à la fin de ce repas que l’on vit apparaître pour la première fois les tasses à café. On prenait aussi à la Tour d’Argent de l’excellent chocolat. Dans une lettre écrite en 1671, Madame de Sévigné n’écrit-elle pas à sa fille qu’elle y déguste son chocolat quotidiennement Quai de la Tournelle ?</p>
                </div>
                <div class="revolution_img">
                    <img src="../static/images/histoire/Du-Cardinal-de-Richelieu-%C3%A0-la-Revolution-Francaise.jpg">
                </div>
            </div>
            <div class="lecoq">
                <div class="lecoq_text">
                    <h4>LECOQ, CUISINIER PERSONNEL DE NAPOLÉON</h4>
                    <p>La tourmente révolutionnaire passée, Lecoq, Chef des cuisines impériales, reconstruisit le restaurant de la Tour d’Argent. L’endroit redevint le lieu des gourmets célèbres tel le duc de Morny et la comtesse Le Hon, la dame aux Camélias ou encore Lord Seymour.</p>
                </div>
                <div class="lecoq_img">
                    <img src="../static/images/histoire/Lecoq-Cuisinier-personel-de-Napoleon.jpg">
                </div>
            </div>
            <div class="troisE">
                <div class="troisE_text">
                    <h4>LE DÎNER DES TROIS EMPEREURS AU CAFÉ ANGLAIS</h4>
                    <p>C’est en 1867, à l’heure de l’exposition universelle de Paris, que le Café Anglais connaîtra son apogée. Jugez du peu ! Alexandre II, Tsar de toutes les Russies, le Tsarévitch et futur Alexandre III, Guillaume 1er, Roi de Prusse et futur Empereur, et le prince Otto von Bismarck réunis à la même table. À ces convives exceptionnels, le Chef Dugléré préparera un menu d’exception composé de cinq entrées, six plats et quatre desserts.</p>
                </div>
                <div class="troisE_img">
                    <img src="../static/images/histoire/Heritage-le-Diner-des-Trois-Empereurs.jpg">
                </div>
            </div>
            <div class="delair">
                <div class="delair_text">
                    <h4>FRÉDÉRIC DELAIR ET LE CANETON NUMÉROTÉ</h4>
                    <p>Sous la houlette de ce maître d’hôtel devenu propriétaire au milieu du XIXe siècle, le service en salle prend un tour nouveau. Frédéric codifie la recette du “canard au sang” ou “caneton Frédéric Delair” tel que nous le connaissons aujourd’hui et s’illustre en découpant le canard à bout de fourchette, sans qu’il ne touche le plat ! Sûr de la pérennité de son œuvre, il décide en 1890 de numéroter chaque canard. Tradition qui perdure aujourd’hui encore.</p>
                </div>
                <img class="delair_img" src="../static/images/histoire/Frederic-Delair-et-le-Caneton-Numerote.jpg">
            </div>
            <div class="ENcoffee">
                <div class="ENcoffee_text">
                    <h4>LE CAFÉ ANGLAIS</h4>
                    <p>En 1911, à la veille de la première guerre mondiale, André Terrail rachète la Tour d’Argent. Il réunit, en épousant la fille de Claudius Burdel, alors propriétaire du Café Anglais, l’héritage gastronomique de Frédéric et celui du non moins illustre Adolphe Dugléré, cuisinier du Café Anglais, rien de moins que le plus couru des établissements parisien sous le Second Empire.</p>
                </div>
                <img class="ENcoffee_img" src="../static/images/histoire/Le-Cafe-Anglais.jpg">    
            </div>
            <div class="decor">
                <div class="decor_text">
                    <h4>UN NOUVEAU DÉCOR</h4>
                    <p>La Tour d’Argent se transforme et le restaurant alors au rez-de-chaussée se couvre de boiseries. Une somptueuse grille en fer forgée marque la nouvelle entrée déplacée du 15 quai de la Tournelle au 17, coin du quai de la Tournelle et de la rue du Cardinal Lemoine.</p>
                </div>
                <img class="decor_img" src="../static/images/histoire/1925-Un-Nouveau-decor.jpg">
            </div>
            <div class="growth">
                <div class="growth_text">
                    <h4>LA TOUR S’ÉLÈVE</h4>
                    <p>André Terrail réalise un projet longtemps mûri: Hausser l’immeuble de deux étages et installer le restaurant au sixième pour lui donner le plus bel environnement qui se puisse rêver.
On imagine les prodiges d’architecture qu’il fallut déployer pour bâtir sur des plots en acier la grande salle aujourd’hui familière, dont le corps de bâtiment n’aurait pu soutenir tout le poids. Ce fut d’abord une terrasse ouverte, que l’on ferma ensuite avec des bâches, enfin par les immenses baies vitrées. La « Tour » prit peu à peu la structure qu’elle a gardée: on ouvrit la seconde salle, on transporta les cuisines au sixième, on installa un ascenseur un peu plus large que l’ancien.</p>
                </div>
                <img class="growth_img" src="../static/images/histoire/La-Tour-s-eleve.jpg">
            </div>
        </div>
    </section>
    <footer>
        <div class="legaleAndCredits">
            <ul>
                <li><a href="/mentions_legales">Mentions Légales</a></li>
                <li><a href="/credit">Crédits</a></li>
            </ul>
        </div>
        <div class="social_media">
            <ul>
                <li><a href="https://www.facebook.com/latourdargent/?ref=br_rs" class="facebook"></a></li>
                <li><a href="https://www.instagram.com/tourdargentparis/" class="insta"></a></li>
                <li><a href="https://twitter.com/latourdargent?lang=fr" class="twitter"></a></li>
            </ul>
        </div>
    </footer>
    
    <div id="burgerMenu">
        <a type="button" id="hideBurger">
            <img src="static/images/picto/noun_1014483_cc.png">
        </a>
        <ul>
            <li><a href="menu">CARTE ET MENUS</a></li>
            <li><a href="/restaurant">LE RESTAURANT</a></li>
            <li class="flag"><a href="/">ACCUEIL</a></li>
            <li class="bookingButton">RESERVATION</li>
            <a href="/access"><li>ACCÈS</li></a>
        </ul>
    </div>
    <div class="opacityMask"></div>
    <div id="popUpBooking">
	    <div class="table">
	        <span>TABLE</span>
	    </div>
	    <div class="room">
	        <span>SALON</span>
	    </div>
        <form>
            <input type="text" name="firstname" placeholder="Nom">
            <input type="email" name="email" placeholder="Email"><br>
            <input type="text" name="lastname" placeholder="Prenom">
            <input type="tel" name="telephone" placeholder="Téléphone"><br>
            <p>POUR QUAND VOULEZ VOUS RESERVER ?</p>
            <input type="datetime-local" style="width:470px">
            <p>COMBIEN DE PERSONNES?</p>
            <input type="number" min="0" max="6"><br>
            <button class="sendButton">ENVOYER</button><br>
            <a class="closeButton" href="javascript:;">FERMER</a>
        </form>	    
    </div>
</body>
</html>